    * {
        margin: 0;
        padding: 0;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica', Arial, sans-serif;

    }

    main {
        display: flex;
        width: 100%;
        height: 100vh;
        background-color: #0A1317;
    }

    .left {
        width: 55vw;
        display: flex;
        flex-direction: column;
    }

    .right {
        width: 45vw;
        border-left: 2px #e4e8ee solid;
        background-color: #152127;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .logo img {
        margin: 50px 0 0 50px;
        width: 60px;
        height: 60px;
    }

    .hero-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 1;
    }


    .header-text {
        color: white;
        margin: 10px 0;
        text-align: center;
    }

    .header-text h1 span {
        background-image: linear-gradient(to right, #ff5c00, #ff0069, #d300c5);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .header-image img{
        width: 420px;
        height: 400px;
    }


    .log-in{
        padding: 0 45px;
        display: flex;
        flex-direction: column;
        gap: 15px;

        
    }

    .log-in h1{
        font-size: 20px;
        color: #f1f4f7;
        font-weight: var(--headline3-font-weight);
        padding-bottom: 20px;
    }

    .log-in input{
        width: 100%;
        padding: 16px 18px;
        margin-bottom: 20px;     
        
        background-color:#0F1E24;
        border: 1px solid #2A3E46;
        border-radius: 18px;

        color: #E6F1F5;
        font-size: 15px

    }

    .login-btn {
        width: 100%;
        padding: 16px;

        background-color: #1B4F8C;
        border: none;
        border-radius: 30px;

        color: #AFC8D6;
        font-size: 16px;
        font-weight: 600;

        cursor: pointer;
        transition: background-color 0.2s ease;
    }

    .login-btn:hover {
        background-color: #2563A6;
    }

    .forgot-link{
        font-size: 15px ;
        font-weight: bold;
        color: #f1f4f7;
        display: flex;
        justify-content: center;
        margin-top: 15px;
        text-decoration: none;

        padding: 14px;
        border-radius: 30px;
    }

    .forgot-link:hover {
        background-color: #2A3E46;
    }


    .new-account {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px    ;
        gap: 5px;


    }

    .facebook img{

        height: 16px;
        width: 16px;
    }

    .facebook{
        width: 80%;
        padding: 16px;
        border: 1px solid #2A3E46;
        border-radius: 30px;

        display: flex;
        justify-content: center;
        gap: 10px;
        text-decoration: none;
        color: #E6F1F5;

        transition: all 0.2s ease;

    }

    .facebook-login:hover {
        background-color: #2A3E46;
    }

    .acc{
        width: 80%;
        padding: 16px;
        border: 2px solid #1B6CA8 ;
        border-radius: 30px;

        display: flex;
        justify-content: center;

        text-decoration: none;
        font-size: 15px;
        font-weight: 600;
        color: #1B6CA8;

    }

    .new-account img{
        width: 100px ;

    }

